@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.title {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.055em;
  font-weight: bold;
  color: #2e0155;
}

.text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #000;
}

.btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 15px 60px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 360px) {
  .btn {
    padding: 15px 30px;
  }
}

.btn:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
  color: #200153;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.item-nav {
  margin: 0 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .item-nav {
    margin: 0 40px;
  }
}

@media (max-width: 768px) {
  .item-nav {
    margin: 0 0 25px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .item-nav:nth-child(3) {
    margin: 0;
  }
  .item-nav:nth-child(4) {
    margin: 0;
  }
}

.item-nav__img {
  background: #e7e7e7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 51px;
  height: 51px;
}

.item-nav__img svg {
  max-width: 100%;
}

.item-nav__text {
  margin: 7px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #000;
}

.item-nav._active .item-nav__img {
  background: -webkit-linear-gradient(303.07deg, #860162 3.4%, #190051 112.47%);
  background: -o-linear-gradient(303.07deg, #860162 3.4%, #190051 112.47%);
  background: linear-gradient(146.93deg, #860162 3.4%, #190051 112.47%);
}

.item-nav._active .item-nav__img svg {
  fill: #fff;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

@media (max-width: 768px) {
  .main {
    min-height: 100vh;
    height: auto;
  }
}

.top {
  background: -webkit-linear-gradient(346.53deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  background: -o-linear-gradient(346.53deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  background: linear-gradient(103.47deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7vh 10vw 5vh 10vw;
  position: relative;
}

.top__info {
  width: 50%;
}

@media (max-width: 768px) {
  .top__info {
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.top__subtitle {
  margin: 16px 0 0 0;
}

@media (min-width: 1199px) {
  .photos {
    width: 1004px;
    margin: 0 auto;
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media (max-width: 1199px) {
  .photos {
    padding: 15px;
  }
}

.photos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1199px) {
  .photos__row--f {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(30px, 20px);
        -ms-transform: translate(30px, 20px);
            transform: translate(30px, 20px);
  }
}

@media (min-width: 1199px) {
  .photos__row--up {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 0 35px;
  }
}

@media (min-width: 1199px) {
  .photos__row--ml {
    margin: 0 0 0 55px;
  }
}

.photos__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #131313;
  opacity: 0.86;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #ffffff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .photos__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.photos__item {
  margin: 2.5px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.photos__item img {
  width: 100%;
  height: 100%;
}

@media (min-width: 991px) {
  .photos__item:hover .photos__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1199px) {
  .photos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
    margin: 0;
    padding: 2.5px;
  }
}

@media (max-width: 768px) {
  .photos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 600px) {
  .photos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 400px) {
  .photos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 1199px) {
  .photos__item--tt {
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@media (min-width: 1199px) {
  .photos__item--p10158 {
    width: 101px;
    height: 58px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p13080 {
    width: 130px;
    height: 80px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p11180 {
    width: 111px;
    height: 80px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p220124 {
    width: 220px;
    height: 124px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p15084 {
    width: 150px;
    height: 84px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p167107 {
    width: 167px;
    height: 107px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p13595 {
    width: 135px;
    height: 95px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p190123 {
    width: 190px;
    height: 123px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p255103 {
    width: 255px;
    height: 103px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p210140 {
    width: 210px;
    height: 140px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p152101 {
    width: 152px;
    height: 101px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p158105 {
    width: 158px;
    height: 105px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p15879 {
    width: 158px;
    height: 79px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p252171 {
    width: 252px;
    height: 171px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p187107 {
    width: 187px;
    height: 107px;
  }
}

@media (min-width: 1199px) {
  .photos__item--p13085 {
    width: 130px;
    height: 85px;
  }
}

.photos__duo--r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1199px) {
  .row-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 4px 0 0;
}

@media (max-width: 1199px) {
  .form__text {
    margin: 0 0 30px 0;
  }
}

.form__wrapper {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 0 4px;
}

@media (max-width: 1199px) {
  .form__wrapper {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .form__wrapper {
    width: 100%;
  }
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 0 240px 0 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .form__input {
    padding: 0 19px;
  }
}

.form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.form__btn {
  position: absolute;
  right: 5px;
  top: 4px;
  color: #fff;
  border: 3px solid #fff;
  background: -webkit-linear-gradient(357.13deg, #860162 7.22%, #190051 95%);
  background: -o-linear-gradient(357.13deg, #860162 7.22%, #190051 95%);
  background: linear-gradient(92.87deg, #860162 7.22%, #190051 95%);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form__btn:hover {
  border-color: #860162;
  background-color: #fff;
  color: #200153;
}

@media (max-width: 768px) {
  .form__btn {
    position: static;
    margin: 25px 0 0 0;
  }
}

.popup-map-open {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 75vh;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-35%);
      -ms-transform: translateY(-35%);
          transform: translateY(-35%);
}

.popup-map-open img {
  max-height: 100%;
}

@media (max-width: 1199px) {
  .popup-map-open {
    -webkit-transform: translate(75px, -35%);
        -ms-transform: translate(75px, -35%);
            transform: translate(75px, -35%);
    position: fixed;
  }
}

.popup {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: background-color 1s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: background-color 1s ease 0s, -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s, background-color 1s ease 0s;
  transition: transform 0.5s ease 0s, background-color 1s ease 0s;
  transition: transform 0.5s ease 0s, background-color 1s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.popup.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  cursor: pointer;
}

.popup__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 944px;
          flex: 0 0 944px;
  width: 944px;
  height: 644px;
  position: relative;
  z-index: 2;
}

.popup__wrapper img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .popup__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 644px;
            flex: 0 0 644px;
    width: 644px;
    height: 344px;
  }
}

@media (max-width: 768px) {
  .popup__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    width: 80vw;
    height: 80vh;
  }
  .popup__wrapper img {
    display: none;
  }
}

.popup__map {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 885px;
  height: 505px;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .popup__map {
    top: 18px;
    left: 20px;
    width: 604px;
    height: 265px;
  }
}

@media (max-width: 768px) {
  .popup__map {
    position: relative;
    top: 0;
    left: 0;
    width: 80vw;
    height: 80vh;
  }
}

.popup.open ~ .popup-map-open {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
