@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.title {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.055em;
  font-weight: bold;
  color: #2e0155;
}

.text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #000;
}

.btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 15px 60px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 360px) {
  .btn {
    padding: 15px 30px;
  }
}

.btn:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
  color: #200153;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.item-nav {
  margin: 0 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .item-nav {
    margin: 0 40px;
  }
}

@media (max-width: 768px) {
  .item-nav {
    margin: 0 0 25px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .item-nav:nth-child(3) {
    margin: 0;
  }
  .item-nav:nth-child(4) {
    margin: 0;
  }
}

.item-nav__img {
  background: #e7e7e7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 51px;
  height: 51px;
}

.item-nav__img svg {
  max-width: 100%;
}

.item-nav__img:hover svg {
  -webkit-animation-name: nav-an;
          animation-name: nav-an;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item-nav__text {
  margin: 7px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #000;
}

.item-nav._active .item-nav__img {
  background: -webkit-linear-gradient(303.07deg, #860162 3.4%, #190051 112.47%);
  background: -o-linear-gradient(303.07deg, #860162 3.4%, #190051 112.47%);
  background: linear-gradient(146.93deg, #860162 3.4%, #190051 112.47%);
}

.item-nav._active .item-nav__img svg {
  fill: #fff;
}

@-webkit-keyframes nav-an {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-an {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

@media (max-width: 768px) {
  .main {
    min-height: 100vh;
    height: auto;
  }
}

.top {
  background: -webkit-linear-gradient(346.53deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  background: -o-linear-gradient(346.53deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  background: linear-gradient(103.47deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  padding: 7vh 10vw 5vh 10vw;
}

.top__info {
  width: 50%;
}

@media (max-width: 768px) {
  .top__info {
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.top__subtitle {
  margin: 16px 0 0 0;
}

.top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .top__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__column--img {
  background: url("../images/system_img/desktop-2/bg-circles.svg") center/contain no-repeat;
}

@media (max-width: 768px) {
  .top__column--img {
    margin: 0 0 50px 0;
  }
}

.top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}

.top__img img {
  max-width: 100%;
}

.top__form {
  position: relative;
  width: 571px;
  margin: 100px auto 0 auto;
}

@media (max-width: 768px) {
  .top__form {
    width: 90%;
    text-align: right;
  }
}

.top__input {
  width: 100%;
  height: 60px;
  padding: 0 240px 0 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .top__input {
    padding: 0 19px;
  }
}

.top__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.top__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.top__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.top__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
  opacity: 0.5;
}

.top__btn {
  position: absolute;
  right: 5px;
  top: 4px;
  color: #200153;
  border: 3px solid #860162;
  border-radius: 10px;
  background-color: #fff;
}

.top__btn:hover {
  background: -webkit-linear-gradient(357.13deg, #860162 7.22%, #190051 95%);
  background: -o-linear-gradient(357.13deg, #860162 7.22%, #190051 95%);
  background: linear-gradient(92.87deg, #860162 7.22%, #190051 95%);
  border-color: #fff;
  color: #fff;
}

@media (max-width: 768px) {
  .top__btn {
    position: static;
    margin: 25px 0 0 0;
  }
}

.item__img {
  margin: 0 0 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 81px;
          flex: 0 0 81px;
  width: 81px;
  height: 81px;
}

.item__img--mr {
  margin: 0 30px 0 0;
}

.item__img img {
  max-width: 100%;
}
