@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.title {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.055em;
  font-weight: bold;
  color: #2e0155;
}

.text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #000;
}

.btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 15px 60px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 360px) {
  .btn {
    padding: 15px 30px;
  }
}

.btn:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
  color: #200153;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.item-nav {
  margin: 0 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .item-nav {
    margin: 0 40px;
  }
}

@media (max-width: 768px) {
  .item-nav {
    margin: 0 0 25px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .item-nav:nth-child(3) {
    margin: 0;
  }
  .item-nav:nth-child(4) {
    margin: 0;
  }
}

.item-nav__img {
  background: #e7e7e7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 51px;
  height: 51px;
}

.item-nav__img svg {
  max-width: 100%;
}

.item-nav__img:hover svg {
  -webkit-animation-name: nav-an;
          animation-name: nav-an;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item-nav__text {
  margin: 7px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #000;
}

.item-nav._active .item-nav__img {
  background: -webkit-linear-gradient(303.07deg, #860162 3.4%, #190051 112.47%);
  background: -o-linear-gradient(303.07deg, #860162 3.4%, #190051 112.47%);
  background: linear-gradient(146.93deg, #860162 3.4%, #190051 112.47%);
}

.item-nav._active .item-nav__img svg {
  fill: #fff;
}

@-webkit-keyframes nav-an {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-an {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

@media (max-width: 768px) {
  .main {
    min-height: 100vh;
    height: auto;
  }
}

.top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: -webkit-linear-gradient(346.53deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  background: -o-linear-gradient(346.53deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  background: linear-gradient(103.47deg, #f8f8f8 5.24%, #d8d8d8 93.89%);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  padding: 25px 5px;
}

@media (min-width: 768px) {
  .top {
    overflow-y: auto;
    padding: 7vh 15px 70px 15px;
  }
}

.top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__column-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .top__column-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
}

@media (max-width: 768px) {
  .top__column-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 5vw 10vh 5vw;
  }
}

.top__content {
  max-width: 550px;
}

.top__column-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .top__column-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (max-width: 768px) {
  .top__column-img {
    display: none;
  }
}

.top__img {
  width: 100%;
}

.top__img img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .top__img {
    width: 100%;
  }
}

.content__text {
  margin: 14px 0 0 0;
}

.content__form {
  margin: 68px 0;
}

.form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
  color: #2e0155;
  margin: 0 0 9px 0;
}

.form__input {
  margin: 0 0 13px 0;
  display: block;
  height: 43px;
  width: 275px;
  padding: 0 0 0 68px;
  border: 1px solid #190051;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #131313;
}

.form__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #131313;
  opacity: 0.5;
}

.form__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #131313;
  opacity: 0.5;
}

.form__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #131313;
  opacity: 0.5;
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #131313;
  opacity: 0.5;
}

.form__input--name {
  background: #fff url("../images/system_img/desktop-5/form/01.svg") 25px 10px no-repeat;
}

.form__input--city {
  background: #fff url("../images/system_img/desktop-5/form/02.svg") 25px 15px no-repeat;
}

.form__input--tel {
  background: #fff url("../images/system_img/desktop-5/form/03.svg") 25px 13px no-repeat;
}

.form__btn {
  display: inline-block;
  background: -webkit-linear-gradient(357.13deg, #860162 7.22%, #190051 95%);
  background: -o-linear-gradient(357.13deg, #860162 7.22%, #190051 95%);
  background: linear-gradient(92.87deg, #860162 7.22%, #190051 95%);
  border-radius: 10px;
  padding: 15px 73px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  border: 3px solid #fff;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form__btn:hover {
  border-color: #860162;
  background: #fff;
  color: #200153;
}

.form__text {
  margin: 14px 0 0 0;
}

.contact {
  max-width: 340px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px 0;
}

.contact__item:last-child {
  margin: 0;
}

.contact__img {
  margin: 0 12px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  width: 28px;
  height: 28px;
}

.contact__img img {
  width: 100%;
}

.contact__text {
  font-size: 15px;
  line-height: 18px;
  color: #131313;
}
