// Файл для описания стилей для общих блоков
.title {
	font-size: 34px;
	line-height: 41px;
	letter-spacing: 0.055em;
	font-weight: bold;
	color: #2e0155;
}

.text {
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.055em;
	color: #000000;
}
